services:
  pwa:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./nginx.local.conf/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8081:8080"
    restart: unless-stopped
